header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 2px grey solid;
    font-size: 1.5em;
}

.page-tab.active {
    color: blue;
    border-bottom: 2px solid blue;
    z-index: 2;
}

.page-tab {
    color: grey;
    padding: 1em;
}

.page-tab:hover {
    cursor: pointer;
    background-color: #0000FF10;
}